.body_bg {
  background-color: #222D32;
}
.mt_150 {
  margin-top: 150px;
}
a {
  color: #ccc;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
ul {
  list-style: none;
  
}
* {
  margin: 0;
  padding: 0;
}

.panel-title {
height: 40px;
line-height: 40px;
font-size: 20px;
}
.id_aside {
  width: 180px;
  height: 100%;
  background-color: #222D32;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
.id_aside .title{
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #367FA9;
}
.id_aside .title a {
  color: #fff;
  font-size: 20px;
}
.id_aside .pictuer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px 50px;
}
.id_aside .pictuer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
 
}
.id_aside .user p {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.id_aside .nav ul li a{
  display: block;
 height: 40px;
 line-height: 40px;
 padding-left: 40px;
 color: #fff;
}
.id_aside .nav .child a {
  padding-left: 60px;
}
.id_main .topBar {
  position: fixed;
  left: 0;
  top: 0;
 height: 50px;
 line-height: 50px;
width: 100%;
  padding-left: 180px;
  background-color: #3C8DBC;
}
.id_main .topBar a {
  color: #fff;
  font-size: 18px;
  
}
.id_main .topBar .icon-menu {
  padding-left: 10px;
}
.id_main .topBar .icon-logout {
  padding-right: 10px;
}